$fuente1:'Lobster', cursive !default;
$fuente2:'Heebo', sans-serif !default;
$tamanio-fuente1:1vw;
$tamanio-fuente2:1.5vw;
$tamanio-fuente3:1.7vw;
$tamanio-fuente4:2.5vw;
$color-botones1:rgb(82, 126, 82);
$color-botones2:rgb(184, 75, 75);
