$color-boton1: orangered;
$color-boton2:green;
$color-fuente:white;
$fuente-principal-tamanio: 62.5%;
$fuente-encabezado-tamanio: 1.7vw;
$fuente-titulo-1: 2.5vw;
$fuente-titulo-2: 1.5vw;
$fuente-titulo-3: 2vw;
$fuente-parrafos: 1vw;